<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.Home.fingertip.Channel_Plan"/>
      <class name="com.Home.fingertip.Channel_Decision"/>
      <class name="com.Home.fingertip.Channel_Home"/>
      <class name="com.Home.fingertip.Channel_Searchbar"/>
      <class name="com.Home.fingertip.Channel_topic"/>
      <class name="com.Home.fingertip.Channel_Taxonomy"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
